@font-face {
    src: url("../fonts/Inter-Regular.ttf");

    font-family: "inter", sans-serif;
    font-weight: 400;
}

@font-face {
    src: url("../fonts/Inter-SemiBold.ttf");

    font-family: "inter", sans-serif;
    font-weight: 700;
}

@font-face {
    src: url("../fonts/Inter-Thin.ttf");

    font-family: "inter", sans-serif;
    font-weight: 100;
}
