// vars

$black: #1A1A1A;
$blue: #1EBFFF;
$white: #FFFFFF;

$title: 30px;
$subtitle: 22px;
$regular: 14px;
$little: 12px;

// /vars

// fonts

@import "fonts.scss";

// /fonts

// reset css

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

ul[class],
ol[class] {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

article > * + * {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

// /reset css

// option

.container {
    padding: 0 15px;
}

@media (min-width: 576px){
    .container {
        max-width: 540px;
        margin: auto;
        padding: 0;
    }
}

@media (min-width: 768px){
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}

*{
    font-family: "inter", sans-serif;
}

h1,h2,h3{
    font-weight: 700;
}

h1{
    font-size: $title;
}

h2{
    font-size: $title;
}

h3{
    font-size: $subtitle;
}

.light{
    font-size: $little;
    font-weight: 100;
}

// /option

// header

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #BDBDBD;

    .header-title{
        color: $black;
    }

    .header__nav{
        display: flex;
        align-items: center;

        .header__nav-item{
            margin-left: 24px;
            font-size: $subtitle;
            color: $black;
            transition: color 0.3s ease;

            &:first-child{
                margin-left: 0;
            }

            &:hover{
                color: $blue;
                transition: color 0.3s ease;
            }

            .header__nav-link{
                color: inherit;
                font-weight: 700;
            }
        }
    }

    .header__nav-mobile{
        display: none;
    }
}

.blur-bg{
    display: none;
}

@media (max-width: 992px) {
    .header {
        .header__nav {
            display: none;
        }

        .header__nav-mobile{
            display: unset;
        }
    }

    .blur-bg{
        top: 0;
        display: unset;
        position: fixed;
        height: 100vh;
        width: 100%;
        backdrop-filter: blur(5px);
        z-index: 100;
    }

    .mobile-menu{
        height: 100vh;
        width: 50%;
        position: fixed;
        background: $black;
        right: 0;
        top: 0;
        z-index: 110;
        padding: 20px;
        color: $white;

        .mobile-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .mobile__nav{
            margin-top: 32px;

            .mobile__nav-item{
                margin-bottom: 8px;

                .mobile__nav-link{
                    font-size: 22px;
                    color: $white;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .mobile-menu {
        width: 80%;
    }
}

// /header

// banner

.banner-min{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;

    .banner-img{
        width: inherit;
        object-fit: cover;
        height: 100px;
    }

    .banner-title{
        position: absolute;
        margin-top: 30px;
        margin-left: 20px;
        color: $white;
    }
}

// / banner

// catalog



// /catalog
