// import

@import "vue-select/src/scss/vue-select.scss";
@import "fonts.scss";

// /import

// function

@function grid($n) {
    @return repeat($n, 100% / $n) ;
}

// /function

// vars

$black: #1A1A1A;
$blue: #1EBFFF;
$white: #FFFFFF;
$gray: #BDBDBD;
$red: #990909;

$title: 30px;
$subtitle: 22px;
$regular: 14px;
$little: 12px;

// /vars

// reset css

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

ul[class],
ol[class] {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

article > * + * {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

// /reset css

// option

.container {
    padding: 0 15px;
}

@media (min-width: 576px){
    .container {
        max-width: 540px;
        margin: auto;
        padding: 0;
    }
}

@media (min-width: 768px){
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}

*{
    font-family: "inter", sans-serif;
}

h1,h2,h3{
    font-weight: 700;
}

h1{
    font-size: $title;
}

h2{
    font-size: $title;
}

h3{
    font-size: $subtitle;
}

.light{
    font-size: $little;
    font-weight: 100;
}

.btn-black{
    background: $black;
    color: $white;
    padding: 4px 20px;
    cursor: pointer;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 2px;
    transition: background .3s ease;

    &:hover{
        background: $blue;
        transition: background .3s ease;
    }
}

.btn-white{
    background: $white;
    color: $black;
    padding: 4px 20px;
    cursor: pointer;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 2px;
    transition: background .3s ease, color .3s ease;

    &:hover{
        background: $blue;
        color: $white;
        transition: background .3s ease, color .3s ease;
    }
}

.blur-bg{
    top: 0;
    right: 0;
    display: unset;
    position: fixed;
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(5px);
    z-index: 100;
}

.close-menu{
    cursor: pointer;
}

.checked{
    background: $blue;
}

// /option

// header

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid $gray;

    .header-title{
        color: $black;
    }

    .header__nav{
        display: flex;
        align-items: center;

        .header__nav-item{
            margin-left: 24px;
            font-size: $subtitle;
            color: $black;
            transition: color 0.3s ease;

            &:first-child{
                margin-left: 0;
            }

            &:hover{
                color: $blue;
                transition: color 0.3s ease;
            }

            .header__nav-link{
                color: inherit;
                font-weight: 700;
            }
        }
    }

    .header__nav-mobile{
        display: none;
    }
}

@media (max-width: 992px) {
    .header {
        .header__nav {
            display: none;
        }

        .header__nav-mobile{
            display: unset;
        }
    }

    .mobile-menu{
        height: 100vh;
        width: 50%;
        position: fixed;
        background: $black;
        right: 0;
        top: 0;
        z-index: 110;
        padding: 20px;
        color: $white;

        .mobile-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .mobile__nav{
            margin-top: 32px;

            .mobile__nav-item{
                margin-bottom: 8px;

                .mobile__nav-link{
                    font-size: 22px;
                    color: $white;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .mobile-menu {
        width: 80%;
    }
}

// /header

// footer

.footer__pay{
    border-top: 1px solid $gray;
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

.footer__pay-block{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer__bottom{
    margin-top: 48px;
    background-color: $black;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px 16px;
}

.footer__bottom-text{
    color: #fff;
    font-size: 12px;
    margin-right: 8px;
}

@media (max-width: 567px) {
    .footer__pay{
        justify-content: center;
        flex-direction: column;
    }

    .footer__pay-text{
        margin-bottom: 16px;
        text-align: center;
    }

    .footer__pay-block{
        justify-content: center;
    }
}

// /footer

// banner

.banner-min{
    margin-top: 50px;
    width: 100%;

    .banner-img{
        width: inherit;
        object-fit: cover;
        height: 100px;
    }

    .banner-title{
        position: absolute;
        margin-top: 30px;
        margin-left: 20px;
        color: $white;
    }
}

// / banner

// catalog

.block{
    margin-bottom: 50px;
}

.block-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 1px solid $gray;
}

.block-header-sort{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block-title{
    color: $black;
}

.catalog-menu{
    height: 100vh;
    width: 30%;
    position: fixed;
    background: $black;
    right: 0;
    top: 0;
    z-index: 110;
    padding: 20px;
    color: $white;
}

.catalog-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .catalog-options{
        font-size: $subtitle;
        margin-top: 32px;
        padding: 0 16px;
        cursor: pointer;
        user-select: none;
    }
}

.catalog__list{
    margin-top: 24px;
}

.catalog__list-item{
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    user-select: none;
}

.catalog__list-indicator{
    content: ' ';
    display: block;
    width: 22px;
    height: 22px;
    border: 1px solid $white;
    border-radius: 2px;
    margin-right: 16px;
    cursor: pointer;
}

.catalog__list-checkbox{
    display: none;

    &:checked ~ .catalog__list-indicator{
        content: url("../img/check.svg");
        display: block;
        width: 22px;
        height: 22px;
        border: 1px solid $white;
        border-radius: 2px;
        margin-right: 16px;
    }
}

.catalog__list-label{
    font-size: $subtitle;
    cursor: pointer;
}

.catalog-btn{
    margin-top: 32px;
    width: 300px;
}

.products{
    display: grid;
    grid-template-columns: grid(2);
    margin-bottom: 36px;
}

.products-item{
    padding: 30px;
    border-bottom: 1px dashed $gray;

    &:nth-child(2n + 1){
        border-right: 1px dashed $gray;
    }
}

.products-body{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

.products-body-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
}

.products-title{
    margin-bottom: 8px;
}

.products__attribute-item{
    font-size: 12px;
    margin-bottom: 8px;
    color: $gray;
    font-style: italic;
}

.products-desc{
    font-size: 14px;
    margin-bottom: 16px;
}

.products__size{
    display: grid;
    grid-template-columns: grid(5);
    margin-bottom: 8px;
}

.products__size-item{
    background: $black;
    padding: 4px;
    width: 32px;
    text-align: center;
    font-size: 12px;
    color: $white;
    margin-bottom: 4px;
    font-weight: 700;
    border-radius: 2px;
    cursor: pointer;
    user-select: none;
    transition: background .3s ease;

    &.active{
        background: $blue!important;
    }

    &:hover{
        background: $blue;
        transition: background .3s ease;
    }
}

.products__info{
    display: grid;
    grid-template-columns: grid(2);
    grid-template-rows: 20px 32px;

    button{
        grid-row: 2/3;
    }
}

.products__info-quantity{
    grid-column: 2/3;
    font-size: 12px;
    margin-bottom: 4px;
}

.products__info-price{
    grid-row: 2/3;
}

.products-body-img{
    border: 1px solid $black;
    height: 274px;
    width: 274px;
    object-fit: cover;
    margin-left: 8px;
}

@media (max-width: 1200px) {
    .catalog-menu{
        width: 50%;
    }

    .products-body-img{
        height: 220px;
        width: 220px;
    }
}

@media (max-width: 991px){
    .products{
        display: grid;
        grid-template-columns: grid(2);
        margin-bottom: 36px;

        .products-item{
            height: 550px;
            padding: 15px;
        }
    }

    .products-body{
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .products__size{
        display: flex;
        justify-content: flex-start;
    }

    .products__size-item{
        margin-right: 4px;
    }

    .products-body-img{
        margin-bottom: 8px;
    }
}

@media (max-width: 767px) {
    .catalog-menu{
        width: 80%;
    }

    .products{
        display: grid;
        grid-template-columns: grid(1);
        margin-bottom: 36px;

        .products-item{
            padding: 15px 0;

            &:nth-child(2n + 1){
                border-right: none;
            }
        }
    }
}

@media (max-width: 580px) {
    .block {
        margin-top: 50px;
    }

    .block-header {
        flex-wrap: wrap;

        .block-header-sort{
            width: 100%;
        }
    }

    .catalog-menu{
        width: 100%;
    }

    .catalog-header{

        .catalog-options{
            padding: 0;
        }
    }

    .catalog-btn{
        width: 260px;
    }

    .block-btn{
        width: 100%;
    }
}

// /catalog

// cart

.block-info{
    color: $black;
    font-weight: 700;
    font-size: 16px;
}

.cart{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cart__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px 16px;
    border-bottom: 1px dashed $gray;
}

.cart__item-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cart__item-img{
    width: 73px;
    height: 73px;
    border: 1px solid $black;
    margin-right: 8px;
}

.cart__item-title{
    font-size: 16px;
    font-weight: 700;
    margin-right: 16px;
    width: 200px;
}

.cart__item-size{
    background: $black;
    padding: 4px;
    width: 32px;
    text-align: center;
    font-size: 12px;
    color: $white;
    margin-bottom: 4px;
    font-weight: 700;
    border-radius: 2px;
    user-select: none;
}

.cart__item-quant{
    display: flex;
    align-items: center;
}

.cart__item-input{
    margin-right: 8px;
    width: 54px;
    border-radius: 2px;
    border: 1px solid $black;
    outline: none;
}

.cart__item-del{
    color: $red;
    cursor: pointer;
    font-weight: 700;
}

.order{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// /cart

// information

.info{
    display: grid;
    grid-template-columns: grid(2);
}

.info-block{
    display: flex;
    flex-direction: column;
}

.info-title{
    margin-bottom: 16px;
    margin-top: 24px;
}

.link-block{
    display: flex;
    flex-direction: column;
}

.info-link{
    margin-bottom: 8px;
    color: $black;
    width: 180px;

    &:hover{
        text-decoration: underline;
    }
}

.social{
    display: flex;
    align-items: center;
}

.social__link{
    margin-right: 16px;
}

.social__link-icon{
    cursor: pointer;
    position: relative;
    z-index: 2;
    opacity: 1;
    transition: opacity .3s ease;

    &:hover{
        opacity: 0;
        transition: opacity .3s ease;
    }
}

.social__link-icon-hover{
    position: absolute;
    margin-top: -40px;
    z-index: 1;
}

@media (max-width: 767px) {
    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}

// /information

// table size

    .switch{
        width: 200px;
        background: $black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 32px;
        border-radius: 4px;
        margin: 24px auto;
    }

    .switch-value{
        width: 50%;
        height: 100%;
        text-align: center;
        color: $white;
        font-size: $subtitle;
        font-weight: 700;
        border-right: 1px solid $white;
        cursor: pointer;
        border-radius: 4px 0 0 4px;
        transition: background .3s ease;

        &:last-child{
            border-right: none;
            border-radius: 0 4px 4px 0;
        }
    }

    .size-table{
        display: block;
        width: 80%;
        margin: 32px auto 0 auto;
    }

    @media (max-width: 767px) {
        .size-table{
            width: 100%;
        }
    }

// /table size
