// import

@import "vue-select/src/scss/vue-select.scss";
@import "fonts.scss";

// /import

// function

@function grid($n) {
    @return 'display: grid; grid-template-rows: repeat(' $n ', auto);' ;
}

// /function

// vars

$black: #1A1A1A;
$blue: #1EBFFF;
$white: #FFFFFF;

$title: 30px;
$subtitle: 22px;
$regular: 14px;
$little: 12px;

// /vars

// reset css

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

ul[class],
ol[class] {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

article > * + * {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

// /reset css

// option

.container {
    padding: 0 15px;
}

@media (min-width: 576px){
    .container {
        max-width: 540px;
        margin: auto;
        padding: 0;
    }
}

@media (min-width: 768px){
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}

*{
    font-family: "inter", sans-serif;
}

h1,h2,h3{
    font-weight: 700;
}

h1{
    font-size: $title;
}

h2{
    font-size: $title;
}

h3{
    font-size: $subtitle;
}

.light{
    font-size: $little;
    font-weight: 100;
}

.btn-black{
    background: $black;
    color: $white;
    padding: 4px 20px;
    cursor: pointer;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 2px;
    transition: background .3s ease;

    &:hover{
        background: $blue;
        transition: background .3s ease;
    }
}

// /option

// header

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #BDBDBD;

    .header-title{
        color: $black;
    }

    .header__nav{
        display: flex;
        align-items: center;

        .header__nav-item{
            margin-left: 24px;
            font-size: $subtitle;
            color: $black;
            transition: color 0.3s ease;

            &:first-child{
                margin-left: 0;
            }

            &:hover{
                color: $blue;
                transition: color 0.3s ease;
            }

            .header__nav-link{
                color: inherit;
                font-weight: 700;
            }
        }
    }

    .header__nav-mobile{
        display: none;
    }
}

.blur-bg{
    top: 0;
    right: 0;
    display: unset;
    position: fixed;
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(5px);
    z-index: 100;
}

.close-menu{
    cursor: pointer;
}

@media (max-width: 992px) {
    .header {
        .header__nav {
            display: none;
        }

        .header__nav-mobile{
            display: unset;
        }
    }

    .mobile-menu{
        height: 100vh;
        width: 50%;
        position: fixed;
        background: $black;
        right: 0;
        top: 0;
        z-index: 110;
        padding: 20px;
        color: $white;

        .mobile-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .mobile__nav{
            margin-top: 32px;

            .mobile__nav-item{
                margin-bottom: 8px;

                .mobile__nav-link{
                    font-size: 22px;
                    color: $white;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .mobile-menu {
        width: 80%;
    }
}

// /header

// banner

.banner-min{
    margin-top: 50px;
    width: 100%;

    .banner-img{
        width: inherit;
        object-fit: cover;
        height: 100px;
    }

    .banner-title{
        position: absolute;
        margin-top: 30px;
        margin-left: 20px;
        color: $white;
    }
}

// / banner

// catalog

.block{
    margin-top: 50px;
}

.block-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 1px solid #BDBDBD;
}

.block-header-sort{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block-title{
    color: $black;
}

.block-dd{
    width: 200px;
    margin-left: 32px;

    .v-select{
        width: inherit;

        .vs__dropdown-toggle{
            width: inherit;
            border: 1px solid $black;
            color: $black;
            font-size: 14px;
            border-radius: 2px;
        }
    }
}

.catalog-menu{
    height: 100vh;
    width: 50%;
    position: fixed;
    background: $black;
    right: 0;
    top: 0;
    z-index: 110;
    padding: 20px;
    color: $white;
}

.catalog-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .catalog-options{
        font-size: $subtitle;
        margin-top: 32px;
        padding: 0 16px;
        cursor: pointer;
        user-select: none;
    }
}

.catalog__list{
    margin-top: 24px;
}

.catalog__list-item{
    margin-bottom: 16px;
}

@media (max-width: 580px) {
    .block {
        margin-top: 50px;
    }
    .block-header {
        flex-wrap: wrap;

        .block-header-sort{
            width: 100%;
        }
    }

    .block-dd{
        width: 157px;
        margin-left: 0;
        font-size: 12px;

        .vs__selected{
            font-size: 12px;
        }
    }

    .block-btn{
        width: 100%;
    }
}



// /catalog
