@font-face {
  src: url(/fonts/Inter-Regular.ttf?515cae74eee4925d56e6ac70c25fc0f6);
  font-family: "inter", sans-serif;
  font-weight: 400;
}

@font-face {
  src: url(/fonts/Inter-SemiBold.ttf?ec60b23f3405050f546f4765a9e90fec);
  font-family: "inter", sans-serif;
  font-weight: 700;
}

@font-face {
  src: url(/fonts/Inter-Thin.ttf?35b7cf4cc47ac526b745c7c29d885f60);
  font-family: "inter", sans-serif;
  font-weight: 100;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* {
  font-family: "inter", sans-serif;
}

.container {
  padding: 0 15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
    margin: auto;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 22px;
}

.light {
  font-size: 12px;
  font-weight: 100;
}

.btn-black {
  background: #1A1A1A;
  color: #FFFFFF;
  padding: 4px 20px;
  cursor: pointer;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 2px;
  transition: background 0.3s ease;
}

.btn-black:hover {
  background: #1EBFFF;
  transition: background 0.3s ease;
}

.btn-white {
  background: #FFFFFF;
  color: #1A1A1A;
  padding: 4px 20px;
  cursor: pointer;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 2px;
  transition: background 0.3s ease, color 0.3s ease;
}

.btn-white:hover {
  background: #1EBFFF;
  color: #FFFFFF;
  transition: background 0.3s ease, color 0.3s ease;
}

.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  background: #1A1A1A;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.nav-item {
  font-size: 22px;
  margin-bottom: 8px;
}

.nav-item:first-child {
  font-size: 30px;
  margin-bottom: 32px;
}

.nav-item:first-child .nav-link {
  font-weight: 700;
}

.nav-link {
  color: #FFFFFF;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #1EBFFF;
  transition: color 0.3s ease;
}

.admin {
  background: #f6f6f6;
  padding: 16px;
  min-height: 100vh;
}

.page-title {
  margin: 32px 0;
}

.products-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.table {
  width: 100%;
  margin-top: 32px;
}

th,
td {
  text-align: center;
  min-height: 32px;
}

.product-img {
  height: 120px;
  margin: 8px auto;
}

.orders-list {
  display: flex;
  flex-direction: column;
}

.orders__item {
  border-bottom: 1px dashed #BDBDBD;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.orders__item:first-child {
  border-top: 1px dashed #BDBDBD;
}

.bold {
  font-weight: 700;
}

.orders__item-body {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, calc(100%/3));
  grid-row-gap: 16px;
}

.orders__item-title {
  grid-row: 1/2;
  grid-column: 1/4;
}

.orders__item-date {
  grid-row: 2/3;
  grid-column: 1/2;
}

.orders__item-address {
  grid-row: 3/4;
  grid-column: 2/4;
}

.orders__item-comment {
  grid-row: 4/5;
  grid-column: 1/4;
  margin-bottom: 16px;
}

.orders__item-products {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
}

.orders-table {
  width: 100%;
}

.empty-block {
  text-align: center;
  width: 100%;
  margin-top: 16px;
}

