@font-face {
  src: url(/fonts/Inter-Regular.ttf?515cae74eee4925d56e6ac70c25fc0f6);
  font-family: "inter", sans-serif;
  font-weight: 400;
}

@font-face {
  src: url(/fonts/Inter-SemiBold.ttf?ec60b23f3405050f546f4765a9e90fec);
  font-family: "inter", sans-serif;
  font-weight: 700;
}

@font-face {
  src: url(/fonts/Inter-Thin.ttf?35b7cf4cc47ac526b745c7c29d885f60);
  font-family: "inter", sans-serif;
  font-weight: 100;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  padding: 0 15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
    margin: auto;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

* {
  font-family: "inter", sans-serif;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 22px;
}

.light {
  font-size: 12px;
  font-weight: 100;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #BDBDBD;
}

.header .header-title {
  color: #1A1A1A;
}

.header .header__nav {
  display: flex;
  align-items: center;
}

.header .header__nav .header__nav-item {
  margin-left: 24px;
  font-size: 22px;
  color: #1A1A1A;
  transition: color 0.3s ease;
}

.header .header__nav .header__nav-item:first-child {
  margin-left: 0;
}

.header .header__nav .header__nav-item:hover {
  color: #1EBFFF;
  transition: color 0.3s ease;
}

.header .header__nav .header__nav-item .header__nav-link {
  color: inherit;
  font-weight: 700;
}

.header .header__nav-mobile {
  display: none;
}

.blur-bg {
  display: none;
}

@media (max-width: 992px) {
  .header .header__nav {
    display: none;
  }

  .header .header__nav-mobile {
    display: unset;
  }

  .blur-bg {
    top: 0;
    display: unset;
    position: fixed;
    height: 100vh;
    width: 100%;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    z-index: 100;
  }

  .mobile-menu {
    height: 100vh;
    width: 50%;
    position: fixed;
    background: #1A1A1A;
    right: 0;
    top: 0;
    z-index: 110;
    padding: 20px;
    color: #FFFFFF;
  }

  .mobile-menu .mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-menu .mobile__nav {
    margin-top: 32px;
  }

  .mobile-menu .mobile__nav .mobile__nav-item {
    margin-bottom: 8px;
  }

  .mobile-menu .mobile__nav .mobile__nav-item .mobile__nav-link {
    font-size: 22px;
    color: #FFFFFF;
  }
}

@media (max-width: 600px) {
  .mobile-menu {
    width: 80%;
  }
}

.banner-min {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}

.banner-min .banner-img {
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100px;
}

.banner-min .banner-title {
  position: absolute;
  margin-top: 30px;
  margin-left: 20px;
  color: #FFFFFF;
}

