.v-select {
  position: relative;
  font-family: inherit;
}

.v-select,
.v-select * {
  box-sizing: border-box;
}

/* KeyFrames */

@-webkit-keyframes vSelectSpinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes vSelectSpinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Dropdown Default Transition */

.vs__fade-enter-active,
.vs__fade-leave-active {
  pointer-events: none;
  transition: opacity 0.15s cubic-bezier(1, 0.5, 0.8, 1);
}

.vs__fade-enter,
.vs__fade-leave-to {
  opacity: 0;
}

/** Component States */

/*
 * Disabled
 *
 * When the component is disabled, all interaction
 * should be prevented. Here we modify the bg color,
 * and change the cursor displayed on the interactive
 * components.
 */

.vs--disabled .vs__dropdown-toggle,
.vs--disabled .vs__clear,
.vs--disabled .vs__search,
.vs--disabled .vs__selected,
.vs--disabled .vs__open-indicator {
  cursor: not-allowed;
  background-color: #f8f8f8;
}

/*
 *  RTL - Right to Left Support
 *
 *  Because we're using a flexbox layout, the `dir="rtl"`
 *  HTML attribute does most of the work for us by
 *  rearranging the child elements visually.
 */

.v-select[dir=rtl] .vs__actions {
  padding: 0 3px 0 6px;
}

.v-select[dir=rtl] .vs__clear {
  margin-left: 6px;
  margin-right: 0;
}

.v-select[dir=rtl] .vs__deselect {
  margin-left: 0;
  margin-right: 2px;
}

.v-select[dir=rtl] .vs__dropdown-menu {
  text-align: right;
}

/**
    Dropdown Toggle

    The dropdown toggle is the primary wrapper of the component. It
    has two direct descendants: .vs__selected-options, and .vs__actions.

    .vs__selected-options holds the .vs__selected's as well as the
    main search input.

    .vs__actions holds the clear button and dropdown toggle.
 */

.vs__dropdown-toggle {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: flex;
  padding: 0 0 4px 0;
  background: none;
  border: 1px solid rgba(60, 60, 60, 0.26);
  border-radius: 4px;
  white-space: normal;
}

.vs__selected-options {
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 0 2px;
  position: relative;
}

.vs__actions {
  display: flex;
  align-items: center;
  padding: 4px 6px 0 3px;
}

/* Dropdown Toggle States */

.vs--searchable .vs__dropdown-toggle {
  cursor: pointer;
}

.vs--unsearchable .vs__dropdown-toggle {
  cursor: pointer;
}

.vs--open .vs__dropdown-toggle {
  border-bottom-color: transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.vs__open-indicator {
  fill: rgba(60, 60, 60, 0.5);
  transform: scale(1);
  transition: transform 150ms cubic-bezier(1, -0.115, 0.975, 0.855);
  transition-timing-function: cubic-bezier(1, -0.115, 0.975, 0.855);
}

.vs--open .vs__open-indicator {
  transform: rotate(180deg) scale(1);
}

.vs--loading .vs__open-indicator {
  opacity: 0;
}

/* Clear Button */

.vs__clear {
  fill: rgba(60, 60, 60, 0.5);
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  margin-right: 8px;
}

/* Dropdown Menu */

.vs__dropdown-menu {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  z-index: 1000;
  padding: 5px 0;
  margin: 0;
  width: 100%;
  max-height: 350px;
  min-width: 160px;
  overflow-y: auto;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(60, 60, 60, 0.26);
  border-top-style: none;
  border-radius: 0 0 4px 4px;
  text-align: left;
  list-style: none;
  background: #fff;
}

.vs__no-options {
  text-align: center;
}

/* List Items */

.vs__dropdown-option {
  line-height: 1.42857143;
  /* Normalize line height */
  display: block;
  padding: 3px 20px;
  clear: both;
  color: #333;
  /* Overrides most CSS frameworks */
  white-space: nowrap;
}

.vs__dropdown-option:hover {
  cursor: pointer;
}

.vs__dropdown-option--highlight {
  background: #5897fb;
  color: #fff;
}

.vs__dropdown-option--disabled {
  background: inherit;
  color: rgba(60, 60, 60, 0.5);
}

.vs__dropdown-option--disabled:hover {
  cursor: pointer;
}

/* Selected Tags */

.vs__selected {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border: 1px solid rgba(60, 60, 60, 0.26);
  border-radius: 4px;
  color: #333;
  line-height: 1.4;
  margin: 4px 2px 0px 2px;
  padding: 0 0.25em;
  z-index: 0;
}

.vs__deselect {
  display: inline-flex;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-left: 4px;
  padding: 0;
  border: 0;
  cursor: pointer;
  background: none;
  fill: rgba(60, 60, 60, 0.5);
  text-shadow: 0 1px 0 #fff;
}

/* States */

.vs--single .vs__selected {
  background-color: transparent;
  border-color: transparent;
}

.vs--single.vs--open .vs__selected {
  position: absolute;
  opacity: 0.4;
}

.vs--single.vs--searching .vs__selected {
  display: none;
}

/* Search Input */

/**
 * Super weird bug... If this declaration is grouped
 * below, the cancel button will still appear in chrome.
 * If it's up here on it's own, it'll hide it.
 */

.vs__search::-webkit-search-cancel-button {
  display: none;
}

.vs__search::-webkit-search-decoration,
.vs__search::-webkit-search-results-button,
.vs__search::-webkit-search-results-decoration,
.vs__search::-ms-clear {
  display: none;
}

.vs__search,
.vs__search:focus {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  line-height: 1.4;
  font-size: 1em;
  border: 1px solid transparent;
  border-left: none;
  outline: none;
  margin: 4px 0 0 0;
  padding: 0 7px;
  background: none;
  box-shadow: none;
  width: 0;
  max-width: 100%;
  flex-grow: 1;
  z-index: 1;
}

.vs__search::-moz-placeholder {
  color: inherit;
}

.vs__search:-ms-input-placeholder {
  color: inherit;
}

.vs__search::placeholder {
  color: inherit;
}

/**
    States
 */

.vs--unsearchable .vs__search {
  opacity: 1;
}

.vs--unsearchable:not(.vs--disabled) .vs__search:hover {
  cursor: pointer;
}

.vs--single.vs--searching:not(.vs--open):not(.vs--loading) .vs__search {
  opacity: 0.2;
}

/* Loading Spinner */

.vs__spinner {
  align-self: center;
  opacity: 0;
  font-size: 5px;
  text-indent: -9999em;
  overflow: hidden;
  border-top: 0.9em solid rgba(100, 100, 100, 0.1);
  border-right: 0.9em solid rgba(100, 100, 100, 0.1);
  border-bottom: 0.9em solid rgba(100, 100, 100, 0.1);
  border-left: 0.9em solid rgba(60, 60, 60, 0.45);
  transform: translateZ(0);
  -webkit-animation: vSelectSpinner 1.1s infinite linear;
          animation: vSelectSpinner 1.1s infinite linear;
  transition: opacity 0.1s;
}

.vs__spinner,
.vs__spinner:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}

/* Loading Spinner States */

.vs--loading .vs__spinner {
  opacity: 1;
}

@font-face {
  src: url(/fonts/Inter-Regular.ttf?515cae74eee4925d56e6ac70c25fc0f6);
  font-family: "inter", sans-serif;
  font-weight: 400;
}

@font-face {
  src: url(/fonts/Inter-SemiBold.ttf?ec60b23f3405050f546f4765a9e90fec);
  font-family: "inter", sans-serif;
  font-weight: 700;
}

@font-face {
  src: url(/fonts/Inter-Thin.ttf?35b7cf4cc47ac526b745c7c29d885f60);
  font-family: "inter", sans-serif;
  font-weight: 100;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  padding: 0 15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
    margin: auto;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

* {
  font-family: "inter", sans-serif;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 22px;
}

.light {
  font-size: 12px;
  font-weight: 100;
}

.btn-black {
  background: #1A1A1A;
  color: #FFFFFF;
  padding: 4px 20px;
  cursor: pointer;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 2px;
  transition: background 0.3s ease;
}

.btn-black:hover {
  background: #1EBFFF;
  transition: background 0.3s ease;
}

.btn-white {
  background: #FFFFFF;
  color: #1A1A1A;
  padding: 4px 20px;
  cursor: pointer;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 2px;
  transition: background 0.3s ease, color 0.3s ease;
}

.btn-white:hover {
  background: #1EBFFF;
  color: #FFFFFF;
  transition: background 0.3s ease, color 0.3s ease;
}

.blur-bg {
  top: 0;
  right: 0;
  display: unset;
  position: fixed;
  height: 100vh;
  width: 100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 100;
}

.close-menu {
  cursor: pointer;
}

.checked {
  background: #1EBFFF;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.disabled:hover {
  background: #1A1A1A !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #BDBDBD;
}

.header .header-title {
  color: #1A1A1A;
}

.header .header__nav {
  display: flex;
  align-items: center;
}

.header .header__nav .header__nav-item {
  margin-left: 24px;
  font-size: 22px;
  color: #1A1A1A;
  transition: color 0.3s ease;
}

.header .header__nav .header__nav-item:first-child {
  margin-left: 0;
}

.header .header__nav .header__nav-item:hover {
  color: #1EBFFF;
  transition: color 0.3s ease;
}

.header .header__nav .header__nav-item .header__nav-link {
  color: inherit;
  font-weight: 700;
}

.header .header__nav-mobile {
  display: none;
}

@media (max-width: 992px) {
  .header .header__nav {
    display: none;
  }

  .header .header__nav-mobile {
    display: unset;
  }

  .mobile-menu {
    height: 100vh;
    width: 50%;
    position: fixed;
    background: #1A1A1A;
    right: 0;
    top: 0;
    z-index: 110;
    padding: 20px;
    color: #FFFFFF;
  }

  .mobile-menu .mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-menu .mobile__nav {
    margin-top: 32px;
  }

  .mobile-menu .mobile__nav .mobile__nav-item {
    margin-bottom: 8px;
  }

  .mobile-menu .mobile__nav .mobile__nav-item .mobile__nav-link {
    font-size: 22px;
    color: #FFFFFF;
  }
}

@media (max-width: 600px) {
  .mobile-menu {
    width: 80%;
  }
}

.footer__pay {
  border-top: 1px solid #BDBDBD;
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.footer__pay-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer__bottom {
  margin-top: 48px;
  background-color: #1A1A1A;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px 16px;
}

.footer__bottom-text {
  color: #fff;
  font-size: 12px;
  margin-right: 8px;
}

@media (max-width: 567px) {
  .footer__pay {
    justify-content: center;
    flex-direction: column;
  }

  .footer__pay-text {
    margin-bottom: 16px;
    text-align: center;
  }

  .footer__pay-block {
    justify-content: center;
  }
}

.banner-min {
  margin-top: 50px;
  width: 100%;
}

.banner-min .banner-img {
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100px;
}

.banner-min .banner-title {
  position: absolute;
  margin-top: 30px;
  margin-left: 20px;
  color: #FFFFFF;
}

.block {
  margin-bottom: 50px;
}

.block-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
  border-bottom: 1px solid #BDBDBD;
}

.block-header-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block-title {
  color: #1A1A1A;
}

.catalog-menu {
  height: 100vh;
  width: 30%;
  position: fixed;
  background: #1A1A1A;
  right: 0;
  top: 0;
  z-index: 110;
  padding: 20px;
  color: #FFFFFF;
}

.catalog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-header .catalog-options {
  font-size: 22px;
  margin-top: 32px;
  padding: 0 16px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.catalog__list {
  margin-top: 24px;
}

.catalog__list-item {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.catalog__list-indicator {
  content: " ";
  display: block;
  width: 22px;
  height: 22px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  margin-right: 16px;
  cursor: pointer;
}

.catalog__list-checkbox {
  display: none;
}

.catalog__list-checkbox:checked ~ .catalog__list-indicator {
  content: url(/images/check.svg?3223cd9e1adc9ab8caee743aa53926d2);
  display: block;
  width: 22px;
  height: 22px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  margin-right: 16px;
}

.catalog__list-label {
  font-size: 22px;
  cursor: pointer;
}

.catalog-btn {
  margin-top: 32px;
  width: 300px;
}

.products {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin-bottom: 36px;
}

.products-item {
  padding: 30px;
  border-bottom: 1px dashed #BDBDBD;
}

.products-item:nth-child(2n+1) {
  border-right: 1px dashed #BDBDBD;
}

.products-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}

.products-body-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
}

.products-collection {
  margin-bottom: 8px;
  font-size: 12px;
  color: #1A1A1A;
}

.products__attribute-item {
  font-size: 12px;
  margin-bottom: 8px;
  color: #BDBDBD;
  font-style: italic;
}

.products-desc {
  font-size: 14px;
  margin-bottom: 16px;
}

.products__size {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  margin-bottom: 8px;
}

.products__size-item {
  background: #1A1A1A;
  padding: 4px;
  width: 32px;
  text-align: center;
  font-size: 12px;
  color: #FFFFFF;
  margin-bottom: 4px;
  font-weight: 700;
  border-radius: 2px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: background 0.3s ease;
}

.products__size-item.active {
  background: #1EBFFF !important;
}

.products__size-item:hover {
  background: #1EBFFF;
  transition: background 0.3s ease;
}

.products__info {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 20px 32px;
}

.products__info button {
  grid-row: 2/3;
}

.products__info-quantity {
  grid-column: 2/3;
  font-size: 12px;
  margin-bottom: 4px;
}

.products__info-price {
  grid-row: 2/3;
}

.products-body-img {
  border: 1px solid #1A1A1A;
  height: 274px;
  width: 274px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 8px;
}

@media (max-width: 1200px) {
  .catalog-menu {
    width: 50%;
  }

  .products-body-img {
    height: 220px;
    width: 220px;
  }
}

@media (max-width: 991px) {
  .products {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-bottom: 36px;
  }

  .products .products-item {
    height: 550px;
    padding: 15px;
  }

  .products-body {
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }

  .products__size {
    display: flex;
    justify-content: flex-start;
  }

  .products__size-item {
    margin-right: 4px;
  }

  .products-body-img {
    margin-bottom: 8px;
  }
}

@media (max-width: 767px) {
  .catalog-menu {
    width: 80%;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    margin-bottom: 36px;
  }

  .products .products-item {
    padding: 15px 0;
  }

  .products .products-item:nth-child(2n+1) {
    border-right: none;
  }
}

@media (max-width: 580px) {
  .block {
    margin-top: 50px;
  }

  .block-header {
    flex-wrap: wrap;
  }

  .block-header .block-header-sort {
    width: 100%;
  }

  .catalog-menu {
    width: 100%;
  }

  .catalog-header .catalog-options {
    padding: 0;
  }

  .catalog-btn {
    width: 260px;
  }

  .block-btn {
    width: 100%;
  }
}

.block-info {
  color: #1A1A1A;
  font-weight: 700;
  font-size: 16px;
}

.cart {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cart__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 16px;
  border-bottom: 1px dashed #BDBDBD;
}

.cart__item-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cart__item-img {
  width: 73px;
  height: 73px;
  border: 1px solid #1A1A1A;
  margin-right: 8px;
}

.cart__item-title {
  font-size: 16px;
  font-weight: 700;
  margin-right: 16px;
  width: 200px;
}

.cart__item-size {
  background: #1A1A1A;
  padding: 4px;
  width: 32px;
  text-align: center;
  font-size: 12px;
  color: #FFFFFF;
  margin-bottom: 4px;
  font-weight: 700;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cart__item-quant {
  display: flex;
  align-items: center;
}

.cart__item-input {
  margin-right: 8px;
  width: 54px;
  border-radius: 2px;
  border: 1px solid #1A1A1A;
  outline: none;
}

.cart__item-del {
  color: #990909;
  cursor: pointer;
  font-weight: 700;
}

.order {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.empty-cart {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-text {
  color: #BDBDBD;
}

.info {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.info-block {
  display: flex;
  flex-direction: column;
}

.info-title {
  margin-bottom: 16px;
  margin-top: 24px;
}

.link-block {
  display: flex;
  flex-direction: column;
}

.info-link {
  margin-bottom: 8px;
  color: #1A1A1A;
  width: 180px;
}

.info-link:hover {
  text-decoration: underline;
}

.social {
  display: flex;
  align-items: center;
}

.social__link {
  margin-right: 16px;
}

.social__link-icon {
  cursor: pointer;
  position: relative;
  z-index: 2;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.social__link-icon:hover {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.social__link-icon-hover {
  position: absolute;
  margin-top: -40px;
  z-index: 1;
}

@media (max-width: 767px) {
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

.switch {
  width: 200px;
  background: #1A1A1A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  border-radius: 4px;
  margin: 24px auto;
}

.switch-value {
  width: 50%;
  height: 100%;
  text-align: center;
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 700;
  border-right: 1px solid #FFFFFF;
  cursor: pointer;
  border-radius: 4px 0 0 4px;
  transition: background 0.3s ease;
}

.switch-value:last-child {
  border-right: none;
  border-radius: 0 4px 4px 0;
}

.size-table {
  display: block;
  width: 80%;
  margin: 32px auto 0 auto;
}

@media (max-width: 767px) {
  .size-table {
    width: 100%;
  }
}

